:root {
    --grey: #eff1f0;
    --purple: #7e5dca;
    --black: #313132;
    --border: 1px solid #8080801a;
    --shadow: 1px 1px 2px #d9d9d9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
}

/*Login*/

.login-conteiner {
    background: rgb(34,193,195);
    background: linear-gradient(93deg, rgba(34,193,195,1) 0%, rgba(45,77,253,1) 100%);
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 60px auto;
    width: 60%;
    height: 70vh;
}

.login-img {
    
}

.login-area form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.login-area input {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    outline: none;

}

.login-area input:focus {

}

.login-area button {
    cursor: pointer;
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.login-area {
    display: flex;
    margin-top: 15%;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.aviso {
    position: absolute;
    top: 0%;
    text-align: center;
    margin: 5px;
    font-size: 8px;
    color: rgb(255, 255, 255);
    background-color: #ff5555e7; /* Exemplo de cor de fundo */
    border: 1px solid #ddd; /* Exemplo de borda */
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

/*Menu apps*/

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px auto;
    width: fit-content;
    justify-content: center;
    gap: 50px;
}

.container a {
    text-decoration: none;
    color: black;
}

.header {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.103);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(217,217,217,1);
    padding: 25px;
}

.header a {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    padding: 8px;
}

.header a:hover {
    background-color: rgb(187, 187, 187);
}

.card {
    width: 300px;
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.103);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(217,217,217,1);
    cursor: pointer;
    text-align: center;
}
.card i {
    font-size: 70px;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.card:hover {
    transform: scale(1.05);
    transition: ease 500ms;
}


/*Diario de bordo*/

.container-diario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 800px;
    margin: 10px auto;
    height: auto;
    padding: 30px;
}

.header-diario {
    display: flex;
    justify-content: space-between;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
}

.header-diario a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 78);
    border-radius: 7px;
    line-height: normal;
    padding-inline: 3px;
    transition: 0.5s;
}

.header-diario a:hover {
    background-color: rgb(230, 6, 6);
    color: rgb(199, 199, 199);
}

.add-form {
    padding: 20px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.add-form h2 {
    margin-bottom: 15px;
    text-align: center;
}

.add-form textarea {
    width: 100%;
    height: 100px;
    border: var(--border);
    padding: 6px;
    border-radius: 3px;
    outline: none;
    resize: none;
    box-shadow: var(--shadow);
    font-size: 15px;
}

.add-form button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    color: rgb(49, 49, 49);
    font-weight: bolder;
    box-shadow: var(--shadow);
    transition: 0.5s;
    margin-top: 20px;
}

.add-form button:hover {
  background-color: rgb(192, 192, 192);
}

.btn-section {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 10px auto;
}

.header-reports {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
}

.header-reports button {
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
    color: rgb(49, 49, 49);
    font-weight: bolder;
    box-shadow: var(--shadow);
    transition: 0.5s;
}

.header-reports button:hover {
    background-color: rgb(192, 192, 192);
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form h2 {
    margin-right: 9px;
}

.search-form input {
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 4px;
    margin-right: 3px;
}

.reports {
    display: flex;
    flex-direction: column;
    
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 10px;
}

.msgDate {
    text-align: right;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
}

/*Filtered reports*/

.container-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 800px;
    margin: 10px auto;
    height: auto;
    padding: 30px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
}


.filter-header a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 78);
    border-radius: 7px;
    line-height: normal;
    padding-inline: 3px;
    transition: 0.5s;
}

.filter-header a:hover {
    background-color: rgb(230, 6, 6);
    color: rgb(199, 199, 199);
}