:root {
    --grey: #eff1f0;
    --purple: #7e5dca;
    --black: #313132;
    --border: 1px solid #8080801a;
    --shadow: 1px 1px 2px #d9d9d9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
}

/*Login*/

.conteiner {
    background-color: rgba(63, 67, 255, 0.979);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 60px auto;
    width: 250px;
    height: 300px;
}

.conteiner span {
    font-size: 66px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.185);
}

.conteiner form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

.conteiner form ::placeholder {
    font-size: 12px;
    text-align: center;
}


.conteiner form input {
    width: 100;
    border: none;
    padding: 6px;
    border-radius: 3px;
    outline: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
}

.conteiner form button {
    border: none;
    padding: 7px 5px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 3px;
    font-weight: bold;
    color: rgb(82, 82, 82);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
}

.conteiner form button:hover {
  padding: 6px 4px;
  background-color: rgb(192, 192, 192);
}

.aviso {
    position: absolute;
    top: 0%;
    text-align: center;
    margin: 5px;
    font-size: 8px;
    color: rgb(255, 255, 255);
    background-color: #ff5555e7; /* Exemplo de cor de fundo */
    border: 1px solid #ddd; /* Exemplo de borda */
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

/*Menu apps*/

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px auto;
    width: fit-content;
    justify-content: center;
    gap: 50px;
}

.container a {
    text-decoration: none;
    color: black;
}

.header {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.103);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(217,217,217,1);
    padding: 25px;
}

.header a {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    padding: 8px;
}

.header a:hover {
    background-color: rgb(187, 187, 187);
}

.card {
    width: 300px;
    height: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.103);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(217,217,217,1);
    cursor: pointer;
    text-align: center;
}
.card i {
    font-size: 70px;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.card:hover {
    transform: scale(1.05);
    transition: ease 500ms;
}


/*Diario de bordo*/

.container-diario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 800px;
    margin: 10px auto;
    height: auto;
    padding: 30px;
}

.header-diario {
    display: flex;
    justify-content: space-between;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 25px;
}

.header-diario a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 78);
    border-radius: 7px;
    line-height: normal;
    padding-inline: 3px;
    transition: 1s;
}

.header-diario a:hover {
    background-color: rgb(230, 6, 6);
    color: rgb(199, 199, 199);
}

.add-form {
    padding: 30px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.add-form h2 {
    margin-bottom: 15px;
    text-align: center;
}

.add-form textarea {
    width: 100%;
    height: 100px;
    border: var(--border);
    padding: 6px;
    border-radius: 3px;
    outline: none;
    resize: none;
    box-shadow: var(--shadow);
    font-size: 15px;
}

.add-form button {
    padding: 5px;
    border: var(--border);
    box-shadow: var(--shadow);
}

.btn-section {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 10px auto;
}

/*Filtered reports*/

.container-filter {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    height: fit-content;
    color: white;
    border-radius: 10px;
    background-color: var(--black);
}

.filter-header {
    background-color: var(--purple);
    display: flex;
    margin: 30px;
    width: 800px;
    padding: 30px;
    border-radius: 8px;
    color: var(--grey);
    position: relative;
}

.filter-header h2 {
    margin-inline: auto;
    font-size: 30px;
}

.filter-header a {
    text-decoration: none;
    position: absolute;
    color: var(--black);
    background-color: var(--grey);
    padding: 8px;
    border-radius: 5px;
}